a {
  display: inline-flex;
  align-items: center;
}

a > img {
  width: 18px;
}

#js-btn-fetch,
#js-btn-showModal {
  padding: 15px 25px;
  background-color: beige;
  /* margin-left: 25px; */
  border-radius: 8px;
  outline: none;
  border: 1px solid #aaa;
  cursor: pointer;
}

#js-btn-fetch:hover,
#js-btn-showModal:hover {
  opacity: .7;
  transition: all .3s ;
}

.modal {
  display: none;
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
}
.modal-content{
background-color: white;
width: 500px;
margin: 0 auto;
padding: 30px;
border-radius: 8px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body #js-btn-fetch{
  margin-top: 20px;
}

#js-input-number {
  width: 100px;
  padding: 15px 25px;
  font-size: 18px;
}

.modal.is-show {
  display: block;
}
